{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "@appp": "./src/app",
                    "underscore": "lodash"
                }
            }
        ]
    ]
}